{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}

<div class="container mx-auto my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/500x300/?nature,river" class="d-block w-100" alt="River">
            </div>
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/500x300/?nature,river" class="d-block w-100" alt="River">
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid mx-15">
    <p style="background-color: aquamarine; font-style: italic;font:300; font-family: cursive;">Lorem ipsum dolor sit
        amet consectetur, adipisicing elit. Fugit nemo quos culpa deleniti, ipsa alias facilis,
        voluptatem reiciendis excepturi consequuntur aut cupiditate corporis pariatur asperiores sit, provident
        delectus. Consectetur commodi laudantium obcaecati labore ducimus magnam veritatis. Officia nesciunt rerum,
        atque consequatur voluptatum cupiditate facere ea non pariatur, ex architecto. Quis voluptatibus, quas vel nulla
        omnis impedit asperiores nesciunt officiis laborum, repudiandae amet quod dolorem labore! Autem tenetur
        aspernatur dolor blanditiis nam sequi deleniti beatae perspiciatis, tempora totam quasi neque, minima suscipit,
        nemo inventore! Ipsa aut neque eius alias aliquam quasi minus commodi. Consequatur voluptates nemo nobis fuga
        sed odit quisquam amet quae rem soluta, impedit earum doloribus culpa ullam neque quibusdam ab placeat ad porro
        quod ea expedita eveniet quas voluptas? Quibusdam sunt temporibus, necessitatibus deleniti porro nihil
        consequatur. Amet consequatur nam pariatur animi nostrum distinctio dicta quos doloremque dolores odio, id,
        sequi consequuntur recusandae deleniti officia natus illum. Assumenda aliquid, dignissimos voluptates quae
        obcaecati maiores suscipit totam veniam, nulla rem ducimus repellendus aspernatur ad qui, provident reiciendis
        officia nobis esse fugiat aliquam ullam sint! Maiores reprehenderit dolores quaerat recusandae ipsa magni
        repellat dolorem in quo, dicta assumenda sit eaque vitae sint ratione consequatur dolorum placeat, maxime cumque
        iusto. Eveniet repellat maiores rem nihil, qui repellendus laudantium provident omnis fugit! Qui perspiciatis
        quos voluptate enim non asperiores officiis, eaque hic sint sapiente perferendis veniam adipisci alias libero
        voluptatum maiores doloribus neque. Quas quasi alias soluta, recusandae quis dignissimos, consequuntur nemo sunt
        omnis voluptate optio exercitationem asperiores, obcaecati aspernatur expedita voluptas. Odit dolor modi est
        aliquam aspernatur, corrupti rem molestiae facere vitae officiis, fugiat qui dolores! Eos alias quos libero
        exercitationem dolorum at sequi praesentium officiis distinctio hic corrupti iure esse, quae maiores harum, vero
        eligendi voluptatem voluptatum eveniet quam eum debitis placeat nam. Neque asperiores ducimus ratione
        doloremque, minima magnam alias dolor, veniam explicabo quasi expedita dicta nostrum quam culpa iste inventore
        unde officiis quos amet id aut harum laudantium quia officia! Laboriosam, iste! Expedita eos, est voluptates
        quod dolor maxime dolore incidunt optio earum modi doloribus nihil cumque amet sit quae odit nam maiores iure
        velit. Dolorem, pariatur ducimus. Commodi nulla sunt ullam est, non doloribus accusamus tenetur earum, eius illo
        consectetur placeat, ipsa quam excepturi! Aut delectus laudantium nihil quibusdam, vel deserunt, quis ad,
        numquam cupiditate adipisci molestias minima eaque. Explicabo a nesciunt fugiat maxime temporibus quod ratione
        dolor distinctio magni nam sequi iusto tempora accusamus, provident nisi quas repellendus cumque nemo eveniet
        vel rerum harum? Voluptas consectetur vero doloribus. Quo, ullam hic labore minus rerum soluta ipsum adipisci
        similique.</p>
</div>


{% endblock body %}