{% extends 'base.html' %}

{% block title %} Contacts {% endblock title %}

{% block body %}
<h1 style="text-align: center;padding-top: 5%; padding-bottom: 2%;">Contact Us</h1>
<div class="container">
    <form method="POST" action="/contacts">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" name="name" aria-describedby="nameHelp">
            <small id="nameHelp" class="form-text text-muted">Your Full Name as mentioned in PAN Card</small>
        </div>
        <div class="form-group">
            <label for="phone">Phone No</label>
            <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp">
            <small id="phone" class="form-text text-muted">Enter your Contact Details</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Tell me what you want to contact me for...</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock body %}